* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #0d122b;
  border-top: 5px solid #f22f46;
}

header {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
}

header h1 {
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(148, 151, 155, 0.2);
}

main {
  margin: 0 auto 6em;
  padding: 0 2em;
  max-width: 800px;
}

main h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

main a {
  color: #008cff;
}

a, button, #phone-data {
  cursor: pointer;
}

main ul {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 2em;
}

main code {
  font-family: 'Fira Mono', monospace;
  color: #f22f46;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0 1px #e8e8e8;
  font-size: inherit;
  line-height: 1.2;
  padding: 0.15em 0.4em;
  border-radius: 4px;
  display: inline-block;
  white-space: pre-wrap;
}

main pre {
  margin: 1em;
  font-family: 'Fira Mono', monospace;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0 1px #e8e8e8;
  font-size: inherit;
  line-height: 1.2;
  border-radius: 4px;
  display: inline-block;
  white-space: pre-wrap;
  padding: 0.5em;
}

main button {
  border-radius: 4px;
  font-size: inherit;
  padding: 0.5em;
}

main table {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

main table tbody tr td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
